h1 {
  font-family: Calibri, "Helvetica Neue", Helvetica, Arial;
}
#wrap {
  width:750px;
  margin:0 auto;
  background:#99c;
  font-family: Garamond, Palatino, serif;
}
#header {
  background:#ddd;
}
#main {
  float:right;
  width:500px;
  background:#9c9;
}
#nav {
  padding-left: 4px;
  float:left;
  width:246px;
  background:#c9c;
}
#footer {
  clear:both;
  background:#cc9;
}