#wrap {
  width:960px;
  margin:0 auto;
  font-family: Georgia, serif;
}
#header {
  background:#ffffff;
}
#main {
  float:left;
  width:690px;
  margin-right:10px;
}
#main ul li {
   padding:0 0 5px 0;
}
#nav {
  padding-left: 4px;
  float:right;
  width:256px;
  color:#f5f5f5;
  background: #2e3192; /* Old browsers */
  background: -moz-linear-gradient(left, #2e3192 0%, #173296 52%, #0071bc 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#2e3192), color-stop(52%,#173296), color-stop(100%,#0071bc)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #2e3192 0%,#173296 52%,#0071bc 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #2e3192 0%,#173296 52%,#0071bc 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(left, #2e3192 0%,#173296 52%,#0071bc 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e3192', endColorstr='#0071bc',GradientType=1 ); /* IE6-9 */
  background: linear-gradient(left, #2e3192 0%,#173296 52%,#0071bc 100%); /* W3C */
}
#nav ul {
  list-style: none;
  margin-left: 0;
	padding-left: 1em;
}
#nav li a {
  color:#f5f5f5;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9em;
}
#nav li a:hover {
  text-decoration: underline;
}
h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
  font-weight: 300;
  display: inline;
}
h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.25em;
  margin-bottom: 0;
}
h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  margin-bottom: 0;
}
h4 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8em;
  margin-bottom: 0;
}
p
{ 
   margin-top : 4px;
}
p.alert
{
   margin: 16px 0 4px 0;
   color: red;
   font-style: italic;
}
#footer {
  clear:both;
}
img.logo
{
  vertical-align: middle;
  margin-right: 16px;
}
code
{
  font-family: Georgia, serif;
  font-style:italic;
}
code.method
{
  color: #7f006e; 
}
code.parameter, code.property, code.value
{
  color: #008000; 
}
code.object, code.type
{
  color: #0066cc;
}
